<div class="layout-row layout-align-center-start layout-fill layout-wrap">
  <md-toolbar style="height: 300px; background: #1E88E5; color: white;"
              class="layout-row layout-align-center-center flex-100">
             <div> <i class="material-icons">people</i>&nbsp;</div>
    <h1 *ngFor="let gname of gabouts"> {{gname.name}} </h1>
  </md-toolbar>
  <md-toolbar style="height: 50px; margin-bottom: 16px; background: #B71C1C;"
              class="layout-row layout-align-center-center flex-100">
    <button md-raised-button (click)="navigate('Group Events')" style="margin: 8px">
      EVENTS
    </button>
    <button md-raised-button (click)="navigate('Group Sponsor')" style="margin: 8px">
      SPONSORS
    </button>
    <button md-raised-button (click)="navigate('Group About')" style="margin: 8px">
      ABOUT
    </button>
  </md-toolbar>
  <div class="layout-row layout-align-center-center layout-wrap layout-margin flex-100">
    <md-card *ngFor="let gevent of gevents" class="flex-gt-md-60">
      <img md-card-image
           src="https://lh4.googleusercontent.com/pRVBaFuv3DiGnWj7x9Z9XzToAMTopbEey1211-9mRUKBCAxVfbsuwQ=w1200-h630-p">
      <md-card-title>{{ gevent.name }}</md-card-title>
      <md-card-content>
        <div [innerHTML]="gevent.description | eventFilter"></div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
