<div class="layout-row layout-fill layout-wrap layout-align-center-start">
  <md-toolbar style="height: 300px; background: #1E88E5; color: white;"
              class="layout-row layout-align-center-center flex-100">
             <div> <i class="material-icons">people</i>&nbsp;</div>
    <h1>{{ (gabout)?.name }}</h1>
  </md-toolbar>
  <md-toolbar style="height: 50px; margin-bottom: 16px; background: #B71C1C;"
              class="layout-row layout-align-center-start flex-100">
    <button md-raised-button color="primary" (click)="openEvents()" style="margin: 8px">
      EVENTS
    </button>
    <button md-raised-button color="primary" (click)="openSponsors()" style="margin: 8px">
      SPONSORS
    </button>
    <button md-raised-button color="primary" (click)="openAbout()" style="margin: 8px">
      ABOUT
    </button>
  </md-toolbar>
  <div class="layout-row layout-align-center-start layout-wrap layout-margin flex-100" *ngIf="gevents && gevents.length">
    <md-card *ngFor="let gevent of gevents" class="flex-gt-md-60">
      <img md-card-image src="{{ imageUrl }}">
      <md-card-title>{{ gevent.name }}</md-card-title>
      <md-card-content>
        <div [innerHTML]="gevent.description | eventFilter"></div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button color="accent" disabled>LIKE</button>
        <button md-button color="accent" disabled>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
  <div *ngIf="!gevents || !gevents.length" class="layout-column flex-100" style="margin: 24px 48px">
    There are no upcoming events planned at this time.
  </div>
</div>
