<div class="layout-row layout-align-center-start layout-wrap layout-margin">
  <md-card *ngFor="let gevent of gevents" class="flex-gt-sm-30 flex-sm-45">
    <img md-card-image src="https://material.angularjs.org/latest/img/washedout.png">
    <md-card-title>{{ gevent.name }}</md-card-title>
    <md-card-content>
      <div [innerHTML]="gevent.description | eventFilter"></div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
