<div class="layout-row layout-align-center-center layout-fill layout-wrap">
  <md-toolbar style="height: 300px; margin-bottom: 16px; background: #1E88E5; color: white;"
              class="layout-row layout-align-center-center flex-100">
    <span style="font-size: 36px">Welcome to the global  Community</span>
  </md-toolbar>
  <div class="layout-column layout-align-center-center layout-wrap" style="margin: 48px 0 128px 0;">

  </div>
  <div>
    <div *ngFor="let gabout of gabouts">
    {{gabout.name}}  
    
     <div *ngFor="let gsponsor of gabout.sponsors">
       {{gsponsor.name}} 
       <br>{{gsponsor.details}} 
       <br><img src={{gsponsor.image_url}} />
       {{gsponsor.info}}
       <a href={{gsponsor.url}}>{{gsponsor.url}}</a>
       
     </div>
    
    </div>
  </div>
</div>
