<md-sidenav-layout class="layout-column layout-fill">
  <md-sidenav #start mode="over" class="layout-column layout-fill">
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.close()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <span>Menu</span>
    </md-toolbar>
    <div>
      <md-nav-list class="layout-column">
        <a md-button [routerLink]="['#!/about']" class="flex" (click)="start.close()">
          <md-icon class="md-24">info</md-icon>About</a>
        <a md-button [routerLink]="['#!/groups']" class="flex" (click)="start.close()">
          <md-icon class="md-24">group</md-icon>Groups</a>
        <a md-button [routerLink]="['#!/goals']" class="flex" (click)="start.close()">
          <md-icon class="md-24">assignment_turned_in</md-icon>Goals</a>
        <a md-button [routerLink]="['#!/benefits']" class="flex" (click)="start.close()">
          <md-icon class="md-24">beenhere</md-icon>Benefits of Membership</a>
        <a md-button [routerLink]="['#!/conduct']" class="flex" (click)="start.close()">
          <md-icon class="md-24">accessibility</md-icon>Code of Conduct</a>
         <a md-button [routerLink]="['#!/group_events']" class="flex" (click)="start.close()">
          <md-icon class="md-24">accessibility</md-icon>Group Events</a>
      </md-nav-list>
    </div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon class="md-24">menu</md-icon>
    </button>
    <div class="layout-row layout-fill">
      <a md-button href="/">
        <img id="logo" src="https://angular.io/resources/images/logos/standard/logo-nav.png">
        <span id="title">{{ title }}</span>
      </a>
    </div>
    <button md-button [hidden]="usersService.isLoggedIn" (click)="usersService.login()">Sign In</button>
    <button md-button [hidden]="!(usersService.isLoggedIn)" (click)="usersService.logout()">Logout</button>
  </md-toolbar>

  <router-outlet class="layout-column layout-fill"></router-outlet>

</md-sidenav-layout>
