<sebm-google-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="zoomCtrl"
  [scrollwheel]="scrollwheel"
  (mapClick)="mapClicked($event)">

  <sebm-google-map-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable">

    <sebm-google-map-info-window *ngIf="m.chapter">
      <a href="#!/groups/{{ m.link }}" class="info-link">{{ m.chapter }}</a>
      {{ m.city }},&nbsp;{{ m.country }}
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

</sebm-google-map>
