<div style="margin-left:10%; margin-right:10%">
  <md-toolbar style="background: #2196F3; color: white;" class="layout-row flex-100">
    <div class="md-toolbar-tools">
      <h3>Global AngularJS Community Code of Conduct</h3>
    </div>
  </md-toolbar>
  <div class="flex-100">
    <p style="margin:16px;">We, the admins, reserve the right to take any action that we see fit against any person or persons that are found to be in
      breach of these guidelines including; issuing a warning (verbal or written), asking the offending person or persons to leave the community, or expulsion from the community.</p>
  </div>

  <md-toolbar style="background: #2196F3; color: white;" class="layout-row flex-100">
    <div class="md-toolbar-tools">
      <h3>Don't be a Jerk</h3>
    </div>
  </md-toolbar>
  <div class="flex-100">
    <p style="margin:16px;">The Global AngularJS Community prides itself on being an open, respectful, and inclusive community. That means jerky behavior isn't allowed.
      Because we know that it's not obvious to everyone, here's a reminder of things we don't allow:jokes or offensive comments about sex/sexuality/race/religion/nationality/body size,
      showing port in public, touching people uninvited, or continuing to interact with someone after they've asked you to stop. Continuous jerky behavior may result in getting expelled
      from the community.</p>

    <p style="margin:16px;">If someone is bothering you, please tell the admins and they will take care of it. We want to maintain Global AngularJS Community awesomeness.</p>
  </div>

  <md-toolbar style="background: #2196F3; color: white;" class="layout-row flex-100">
    <div class="md-toolbar-tools">
      <h3>Anti-Harassment Policy</h3>
    </div>
  </md-toolbar>
  <div class="flex-100">
    <p style="margin:16px; font-weight:bold;">Why do we have an official Anti-Harassment policy for The Global AngularJS Community?</p>

    <ul style="margin:16px;">
      <li>It sets expectations for behavior. Simply having an anti-harassment policy can prevent harassment.</li>
      <li>It encourages people to join who have had bad experiences in other communities</li>
      <li>It gives admins instructions on how to handle harassment quickly, with minimum amount of disruption.</li>
    </ul>

    <p style="margin:16px;">The Global AngularJS Community is dedicated to providing a harassment-free event experience for everyone, regardless of:</p>
    <ul>
      <li>gender</li>
      <li>sexual orientation</li>
      <li>disability</li>
      <li>gender identity</li>
      <li>age</li>
      <li>race</li>
      <li>religion</li>
      <li>nationality</li>
    </ul>
    <p style="margin:16px;">The above is not an exhaustive list -- we do not tolerate harassment of event participants in any form.</p>
    <p style="margin:16px;">Sexual language and imagery is not appropriate for any group. Exhibiting groups violating these rules may be expelled from the community,
      at the discretion of the admins.</p>
    <p style="margin:16px;">Harassment includes (but is not limited to):</p>
    <ul>
      <li>offensive verbal comments related to gender, sexual orientation, disability, gender identity, age, race, religion</li>
      <li>the use or display of sexual images in public spaces</li>
      <li>deliberate intimidation</li>
      <li>stalking</li>
      <li>harassing photography or recording</li>
      <li>sustained disruption of talks or other events</li>
      <li>inappropriate physical contact</li>
      <li>unwelcome sexual attention</li>
    </ul>
    <p style="margin:16px;">Participants asked to stop any harassing behavior are expected to comply immediately.</p>
    <p style="margin:16px;">Exhibiting partners and guests are also subject to the anti-harassment policy. In particular, exhibitors and speakers should not use sexualized images, activities,
      or other material, or otherwise create a sexualized environment in their slide decks, exhibit material, exhibit staffing, promotional items or demo material.</p>
    <p style="margin:16px;">If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an admin immediately.
      Admins will investigate the issue and take appropriate action.</p>
    <p style="margin:16px;">Though we hope that we never have to invoke this policy, we believe that having this document helps everyone think a little more about how their actions and
      words affect the whole community, as well as individuals in the community.</p>

  </div>

  <md-toolbar style="background: #2196F3; color: white;" class="layout-row flex-100">
    <div class="md-toolbar-tools">
      <h3>Values</h3>
    </div>
  </md-toolbar>
  <div class="flex-100">
    <p style="margin:16px;">The Global AngularJS Community is an inclusive community where developers, designers, and entrepreneurs of all skill levels, genders, religions, and backgrounds are welcome to learn,
      practice, and share AngularJS technologies and services. Our motto is “Be excellent to each other”; if you see or experience anything different please contact the admins.</p>
  </div>


</div>
