<div *ngIf="topic">
  <md-toolbar style="height: 200px; margin-bottom: 16px; background: #1E88E5; color: white;"
              class="layout-row layout-align-center-center flex-100">
    <span style="font-size: 36px">Global {{ topic.name }} Community</span>
  </md-toolbar>
  <div class="layout-row layout-fill layout-align-center-center">
    <app-chapter-map class="flex-70"
      [lat]="lat"
      [lng]="lng"
      [zoom]="zoom"
      [markers]="mapMarkers"
      [zoomCtrl]="zoomCtrl"
      [scrollwheel]="scrollwheel">
    </app-chapter-map>
  </div>

  <div class="layout-column layout-fill layout-align-center-center">
    <md-nav-list>
      <md-list-item *ngFor="let group of mapMarkers; let i = index" (click)="navigate(group.link)">
        {{ group.chapter }}
      </md-list-item>
    </md-nav-list>
  </div>
</div>
